.subtext {font-size:14px;}



table { border-collapse: collapse; }

td + td,
th + th { border-left: 1px solid black; } //chartreuse
tr,td,th { border: 1px solid black; } //mine
tr + tr { border-top: 1px solid indigo; }
tr + tr { border-bottom: 1px solid indigo; } //mine

td,
th { padding: 10px; }


// IE7
tr + tr > td,
tr + tr > th { border-top: 1px solid indigo; }