.textarea-my{
	width:100%;
	margin-top:0;
	padding: 2em;
}

#coordsInput{width:100%;}

.textarea-my .btn{
  display:block;

}

/*  ----------------Mobile */
@media screen and (max-width: 640px) {
	.textarea-my .btn{
        
     }

}  
 
/*  ----------------Mobile */
	
	
#tableResults{padding-bottom:3em;}
td {width:100px;}

#resultFinal{padding:2em;} /* padding in div */